<div id="page-layout"></div>

<script id="homepage-template" type="text/template">
  <div id="homepage-container">

    <div id="homepage-panel1">
      <img id="homepage-pic" src="./images/desk1.jpg" />
      <span id="homepage-image-text">Get 1:1 live help from coders across the globe</span>
      <div id="help-button-container">
        <button id="help-button">Get help now</button>
      </div>
    </div>

    <div id="homepage-panel2">
      <h2>Want to be a Code Coach?</h2>
      <h3>Accept any of the live requests below to start helping someone learning to code...</h3>
      <div id="join-rooms"></div>
    </div>

    <div id="homepage-panel3">
      <img id='logo-footer' src='/images/logoV5.png' />
    </div>

  </div>
</script>

<script id="new-help-request-template" type="text/template">
    <div id="help-form-container">

      <img id="help-form-pic" src="./images/computer.jpg" />

      <span id="help-form-image-text">I would like help with...</span>

      <div id="request-form-wrapper">
        <form id="help-request-form" action="">
          <input id="request-description" type="text-area" name="description" placeholder="e.g. Promises in Javascript" />
          <div>
            <select id="languages" name="languages">
                         <option value="ruby">Ruby</option>
                         <option value="javascript">Javascript</option>
                         <option value="htmlmixed">HTML Mixed</option>
                         <option value="css">CSS</option>
                         <option value="clike">Clike</option>
                         <option value="clojure">Clojure</option>
                 </select>
            <button>Submit</button>
          </div>
        </form>
      </div>

    </div>
</script>

<script id="loading-template" type="text/template">
  <div id="loading-container">

    <div id="loading-image-text">
      Waiting for a Code Coach to respond to your request...</div>
    </div>

    <div id="loading-image-container">
      <img id="loading-image" src="./images/timer.png" />
    </div>

  </div>
</script>

<script id="chat-template" type="text/template">
<div id="repl-container">
  <textarea id="textit"></textarea>
</div>
  <div id="chat-container">

    <div id="chat-wrapper">

      <div id="chatbox-header">LIVE CHAT</div>

      <ul id="messages"></ul>

      <div class="typing"> </div>

      <form id="chatbox" action="">
        <input type="text-area" class="chatbox-input" id="m" name="chat-input" autocomplete="off" />
        <button>Send</button>
      </form>
      <button id="end-chat-button">End Chat</button>
    </div>

  </div>
</script>

<script id="end-chat-template" type="text/template">
  <div>
    Would you like to give <span id="other-username"></span> kudos?
    <img class="kudos-image" src="./images/kudos.png" />
  </div>
</script>

<script id="thank-you-template" type="text/template">
  <div>
    Thank you!
    <br>
    <a href='/'>Return to HomePage</a>
  </div>
</script>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script src="/scripts/jquery.popuptooltip.js"></script>
