<!DOCTYPE html>
<html>
  <head>
    <title>Global Code Network</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Global Code Network</h1>
    <p>Welcome</p>

    <a href="/requests/new">Ask for help</a>



  </body>
</html>
