<div class="container-fluid">
<div id="page-layout"></div>
</div>
<script id="homepage-template" type="text/template">

      <div class="img-container">
      <img class="img-responsive" id="homepage-pic" src="./images/homepage-image.jpg" />

      <span id="homepage-image-text">Get 1:1 live help from coders across the globe</span>
      <div id="help-button-container">
        <button id="help-button" class="btn btn-secondary">Get help now</button>
              </div>
      </div>
      </div>
    <div class="container-fluid" id="homepage-bottom">
    <div class="row">
    <div class="col-md-12" id="homepage-breaker">
      <p id="code-coach-text">People currently fishing for help</p>
    </div>
  </div>

    <div class="row homepage-requests">
      <div id="join-rooms-full"></div>
    <div id="join-rooms-empty"></div>
    </div>
  </div>

  </div>
  </div>
</script>

<script id="new-help-request-template" type="text/template">
  <div class="col-md-12">
  <div class="row">
    <div id="help-form-container">

      <img class="img-responsive" id="help-form-pic" src="./images/computer.jpg" />

      <span id="help-form-image-text">I would like help with...</span>

      <div id="request-form-wrapper">
        <form id="help-request-form" action="">
          <input id="request-description" type="text-area" name="description" placeholder="e.g. Promises in Javascript" />
          <div>
            <select class="selectpicker" data-style="btn-info" id="languages" name="languages">
                         <option value="ruby">Ruby</option>
                         <option value="javascript">Javascript</option>
                         <option value="htmlmixed">HTML Mixed</option>
                         <option value="css">CSS</option>
                         <option value="clike">Clike</option>
                         <option value="clojure">Clojure</option>
            </select>
            <button>Fish for help</button>
          </div>
        </form>
      </div>
    </div>
    </div>

    </div>
</script>

<script id="loading-template" type="text/template">

  <div class="col-md-12">
  <div class="row">

  <div id="loading-container">

    <div id="loading-image-text">
      Waiting for someone to respond to your request...</div>
    </div>

    <div id="loading-image-container">
      <img id="loading-image" src="./images/waiting.png" />
    </div>
  </div>
  </div>
  </div>
</script>

<script id="chat-template" type="text/template">
  <div class="container">

    <div class="col-sm-12 col-md-12 col-xs-12 live-chat-bar">
      <button id="live-chat-button">Live Chat</button>
    </div>

    <div class="col-sm-12 col-md-12 col-xs-12 repl-container">
      <textarea id="textit"></textarea>
    </div>

    <div class="col-sm-12 col-md-12 col-xs-12">

      <div id="chat-wrapper">
        <ul id="messages"></ul>
        <div class="typing"></div>
        <form id="chatbox" action="">
          <input type="text-area" class="chatbox-input" id="m" name="chat-input" autocomplete="off" />
          <button>Send</button>
        </form>
      </div>

    </div>

    <div class="col-sm-12 col-md-12 col-xs-12">
      <button id="end-chat-button">End Chat</button>
    </div>

  </div>
</script>

<script id="end-chat-template" type="text/template">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-xs-2"></div>
      <div class="col-sm-8 col-md-8 col-xs-8 pearl-container">
        Would you like to give <span id="other-username"></span> a pearl from the bottom of the ocean?
      </div>
    <div class="col-sm-2 col-md-2 col-xs-2"></div>
    <div class="col-sm-12 col-md-12 col-xs-12 pearl-image-container">
        <img class="kudos-image" src="./images/oyster.png" />
    </div>
  </div>
</script>

<script id="thank-you-template" type="text/template">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-xs-2"></div>
      <div class="col-sm-8 col-md-8 col-xs-8 thank-you-container">
        Thank you for using CodeFish!
      </div>
      <div class="col-sm-2 col-md-2 col-xs-2"></div>
    <div class="col-sm-12 col-md-12 col-xs-12 final-logo-image-container">
      <a href='/'><img class="final-logo-image" src="./images/logo.png" /></a>
    </div>
  </div>
</script>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/jquery.popuptooltip.js"></script>
