<!DOCTYPE html>
<html>
  <head>
    <title>Global Code Network</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Global Code Network</h1>
    <p>Welcome</p>

    <a href="/requests/new">Ask for help</a>
    <br>
    Current requests
    <ul id="rooms">

    </ul>


    <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/scripts/chat.js"></script>
  </body>
</html>
