<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Global Code Network</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='flash_msg'>
      <%- success_msg %>
    </div>
      <%- body %>
  </body>
</html>
