body {
	padding-top: 65px;
}

.container {

}


#map {
 	height: 400px;
 	width: 80%;
 	margin-top: 70px;

}


.image-container {
	text-align: right;
}

.profile-container {
	margin-top: 40px;
}

#pearl-image {
	height: 50px;
	width: 50px;
}