<h2>Edit Profile</h2>

<div>
  <form method="post" action="/sessions/edit-profile">
    <label for="firstname">
      First Name:
      <input type="text" name="firstname" placeholder="First Name">
    </label>
    <label for="Last Name">
      Last Name:
      <input type="text" name="lastname" placeholder="Last Name">
    </label>
    <label for="email">
      Email:
      <input type="email" name="email" placeholder="Email">
    </label>
    <label for="username">
      Username:
      <input type="text" name="username" placeholder="Username">
    </label>
    <label for="bio">
      Password:
      <input type="text-area" name="bio" placeholder="Short bio about yourself">
    </label>
    <input type="submit" value="Update profile">

  </form>
</div>
