<h2>Sign up</h2>

<div>
  <form method="post" action="/users/new">
    <label for="username">
      Username:
      <input type="text" name="username" placeholder="Username">
    </label>
    <label for="email">
      Email:
      <input type="email" name="email" placeholder="Email">
    </label>
    <label for="password">
      Password:
      <input type="password" name="password" placeholder="Password">
    </label>
    <label for="passwordconfirmation">
      Confirm password:
      <input type="password" name="passwordconfirmation" placeholder="Password">
    </label>
    <input type="submit" value="Sign Up">

  </form>
</div>
