<h2>Sign in</h2>

<div>
  <form method="post" action="/users/signin">
    <label for="email">
      Email:
      <input type="email" name="email" placeholder="Email">
    </label>
    <label for="password">
      Password:
      <input type="password" name="password" placeholder="Password">
    </label>
    <input type="submit" value="Sign in">

  </form>
</div>
